{% for journal in journal %}
<div class="container">
  <h4 class="card-title">{{ journal.Your_Post_Title }}</h4>

  <p style="font-size: 15px">  <img class="rounded-circle z-depth-9" style="width: 50px; height: 50px; padding-right: 2px" src="{{journal.profile_pix.url }}" data-holder-rendered="true"></p>

  <h8>{{journal.user }} | {{ journal.timestamp }} </h8>
  
  <h8 style="font-size: 15px">Country : {{journal.Country}}</h8>

 <p style="font-size: 20px" class="card-text">{{ journal.Content|slice:":76" }}...</p>
                                
  {% if journal.image %}

    <center>   <img src="{{  journal.image.url }}" style="width: auto; max-width: 30% ;height: auto;">  </center>

  {% endif %}
                               
<a href="{{ journal.slug }}" class="btn btn-primary">Read More &rarr;</a>
         
</div>

  {% endfor %}

  <div style="padding-top: 1%" class="col-md-8 mt-3 left">
    <h3> Click <a href="{% url 'add-post' %}">here</a> to add new post</h3>
  </div>
      